<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"
      integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Slab&family=Ubuntu&display=swap"
      rel="stylesheet"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

    <link rel="stylesheet" href="/css/style.css" />
    <link rel="shortcut icon" href="/images/icon.ico" type="image/x-icon">
    <title>Free Weather</title>
  </head>
  <body>
    <!--------- Head Section Starts ---------->
    <div class="head-container">
      <h1><span class="free">Free</span> Weather</h1>
      <nav>
        <ul>
          <li><a class="menu-btn" href="/">Home</a></li>
          <li><a class="menu-btn" href="/about">About</a></li>
        </ul>
      </nav>
    </div>
    <div class="card-container">
      <div class="about-card">
        <div class="about-col-1">
            <h2>Hello, I'm <span>Rohit</span></h2><br>
            <p>I'm a Full stack web developer studying in 3rd year of Bachelor of Technology in Maharishi Markandeshwar Deemed to be University (MMDU), Mullana.</p><br>
            <a href="/" class="btn">Home</a>
            <a href="https://rohit-myport.netlify.app/" class="btn">My Portfolio</a>
        </div>
        <div class="about-col-2"><img id="about-img" src="/images/about.jpg" alt=""></div>
      </div>
    <script src="/js/index.js"></script>
  </body>
</html>
